
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadísticas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/menu.css') }}">
</head>
<body>
    <h1>Estadísticas</h1>
    <ul id='menu'>
        <li class='item-menu'><a href="{{ url_for('stats') }}">Gráfico tipo de dispositivos</a></li>
        <li class='item-menu'><a href="{{ url_for('stats2') }}">Gráfico contactos por comuna</a></li>
        <li class='item-menu'><a href="{{ url_for('index') }}">Volver al inicio</a></li>
    </ul>
</body>
</html>