<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/index.css') }}">
</head>
<body>
    <h1>Bienvenido</h1>
    <ul id='menu'>
        <li class='item-menu'><a href="{{ url_for('agregar_donacion') }}">Agregar donación</a></li>
        <li class='item-menu'><a href="{{ url_for('ver_dispositivos') }}">Ver dispositivos</a></li>
        <li class='item-menu'><a href="{{ url_for('menu') }}">Estadísticas</a></li>
    </ul>
</body>
</html>
